<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Nombre: {{recipe.name}}
    </div>
    <div>
        Descripción: {{recipe.description}}
    </div>
    <div>
        Instrucciones: {{recipe.instructions}}
    </div>
    <div>
        Menos de 30 min?: {% if recipe.under30==1 %} SI {% else %} NO {% endif %}
    </div>
    <div>
        Fecha de creación: {{recipe.date_made}}
    </div>
</body>
</html>